body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/backgrounds/background-papel.webp');
}
#main {
  width: 100%;
  height: 100%;
}
#plato {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foto-plato {
  height: 100%;
  width: 80%;
  background-size: cover;
  background-position: left;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, right bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
}
#ficha-plato {
  height: 70%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 5%;
}
#ficha-plato div p {
  text-align: right;
  margin: 0;
}
#ficha-plato #nombre-plato {
  text-decoration: underline;
  font-size: 40px;
  width: 100%;
}
#ficha-plato #precio-plato {
  font-size: 40px;
  text-decoration: underline;
}
#plato-1 {
  background-image: url('../img/platos/frios/plato-1.png');
}
#plato-2 {
  background-image: url('../img/platos/calientes/plato-2.png');
}
#plato-3 {
  background-image: url('../img/platos/frios/plato-3.png');
}
#plato-4 {
  background-image: url('../img/platos/frios/plato-4.png');
}
#plato-5 {
  background-image: url('../img/platos/calientes/plato-5.png');
}
#plato-6 {
  background-image: url('../img/platos/calientes/plato-6.png');
}
#plato-7 {
  background-image: url('../img/platos/frios/plato-7.png');
}
#plato-8 {
  background-image: url('../img/platos/frios/plato-8.png');
}
#plato-9 {
  background-image: url('../img/platos/calientes/plato-9.png');
}
@media only screen and (max-width: 1050px) {
  .contenido-platos-container {
    height: 200vh !important;
  }
  .row {
    height: 50% !important;
    align-content: flex-start !important;
  }
  .plato-container-2 {
    width: 100% !important;
    height: 50% !important;
  }
  .plato-container-3 {
    width: 100% !important;
    height: 33.33% !important;
  }
  .plato-container-4 {
    width: 100% !important;
    height: 25% !important;
  }
  #navbar-logo-container {
    display: none !important;
  }
  #navbar-titulo {
    display: none !important;
  }
  #navbar-texto-contenedor {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    justify-content: center !important;
  }
  #navbar-texto-contenedor #navbar-clickables {
    width: 100% !important;
    margin: 0 !important;
    justify-content: center !important;
  }
}
